.form_file-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_file-container > :nth-child(1), 
.form_file-container > :nth-child(2) {
  display: flex;
  flex-direction: column;
}