.accordion-header {
  display: none;
  align-items: center;
  gap: 4px;

  padding: 8px;
  height: 28px;

  border-bottom: 1px solid var(--black);
  cursor: pointer;
}

.accordion-header:hover {
  color: var(--cs-blue);
}


.accordion-icon-up, 
.accordion-icon-down {
  width: 24px;
  height: 24px;

  color: inherit;
  stroke-width: 1;
  transition: transform 0.2s ease-in-out;
}

.accordion-icon-up {
  transform: rotate(0deg);
}

.accordion-icon-down {
  transform: rotate(-90deg);
}

.accordion-body {
  max-height: 500px;

  overflow: hidden;
}