.data_empty-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  border-radius: 4px;
  border: 1px dashed var(--gray);
}

.data_empty-image {
  width: auto;
  height: 140px;

  stroke-width: 1;
  opacity: 0.8;
}