.header-wrapper {
  display: flex;
  align-items: center;

  padding: 0 12px;
  width: 100%;
  height: 100%;

  background-color: var(--black);
  color: var(--purple);

  box-sizing: border-box;
}

.header-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
}

.header-icon {
  width: 32px;
  height: 32px;

  stroke-width: 1.2;
  color: var(--purple);
}