.section-container {
  padding-top: 16px;
  padding-left: 16px;
}

.section-body {
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
  gap: 8px;
  
  min-height: calc(100vh - 52px - 16px);
}

.section-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 0 20px;
}

.section-submenu {
  flex-shrink: 0;
  position: sticky;
  top: calc(52px + 16px);

  width: 220px;

  background-color: var(--white);
}

.section-submenu-list {
  display: flex;
  flex-direction: column;
}

.section-footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 1.2rem 1.6rem;

  border-top: 1px solid var(--gray);
}

@media (max-width: 1280px) {
  .section-body {
    flex-direction: column-reverse;
    justify-content: start;
    gap: 16px;

    min-height: calc(100vh - 52px - 16px - 44px - 16px);
  }

  .section-submenu {
    position: static;
    width: 100%;
    
    box-sizing: border-box;
  }

  .section-submenu-accordion 
  .accordion-header {
    display: flex;
  }

  .section-submenu-accordion 
  .accordion-body {
    max-height: 0px;
  }

  .section-submenu-accordion 
  .accordion-body-open {
    padding: 8px;
    max-height: 500px;

    border-bottom: 1px solid var(--black);
  }
}

@media (max-width: 1020px) {
  .section-container {
    padding: 0;
  }

  .section-content {
    padding: 0 36px;
  }

  .section-footer {
    margin-left: 20px;
    margin-right: 20px;
  }
}