.table {
  width: fit-content;

  border-collapse: collapse;

  box-sizing: border-box;
}

.table tr {
  border-bottom: 1px solid var(--gray);
}

.table th {
  background-color: var(--gray);
  color: var(--white);

  cursor: pointer;
}

.table th,
.table td { 
  padding: 8px 16px;

  text-align: right;
  white-space: nowrap;
}

.table th > :first-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

.table-sort {
  font-size: 0.6rem;
}