.home_page-wrapper {
  padding: 52px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 950px;
  min-height: calc(100vh - 52px);
}

.home_page-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home_page-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-bottom: 40px;
}

.home_page-guide, 
.home_page-guide > :last-child {
  display: flex;
  flex-direction: column;
}

.home_page-guide {
  gap: 16px;
}

.home_page-guide > :last-child {
  gap: 8px;
}

.home_page-container > :nth-child(2) {
  display: flex;
  align-items: start;
  gap: 12px;
}

.home_page-container > :last-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* styles StepItem */
.step_item-container, 
.step_item-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-left: 16px;
}